flask 
python-socketio==5.0.0
python-engineio
flask_cors
opencv-python-headless 
soundfile 
aiortc
numpy
eventlet
langchain
langchain-core
langchain-community
langchain-experimental
langchain-openai
langgraph
openai
unstructured[pdf]
chromadb
umap-learn
deepface
python-dateutil